@use 'sass:map';
@use '../../../../scss/vars' as *;
@use '../../../../scss/mixins' as *;

.research-work-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: map.get($spacing, 'md');
  width: 100%;
  min-height: 300px;
  padding: map.get($spacing, 'sm') map.get($spacing, 'md');
  border: 1px solid var(--text-color);
  border-radius: $base-radius;

  @include on-tablet {
    flex-direction: row;
  }

  &__poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: map.get($spacing, 'md');
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: map.get($spacing, 'xl');
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'sm');
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;

    button {
      color: var(--text-color);
      border-color: var(--text-color);
    }
  }
}
