@use 'sass:map';
@use '../../scss/vars' as *;

.brand-logo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: map.get($spacing, '2xs');
  text-transform: uppercase;
  font-size: 18px;
  line-height: 100%;

  &__name {
    font-size: 24px;
    font-weight: 600;
  }
}
