@use 'sass:map';
@use '../../../../scss/vars' as *;
@use '../../../../scss/mixins' as *;

.research-works {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'md');

  &__section {
    &--swiper {
      @include container;
      padding-right: 0;

      @include on-desktop {
        padding-right: $section-padding;
      }
    }
  }
}
