@use 'sass:map';
@use '../../../../scss/vars' as *;
@use '../../../../scss/mixins' as *;

.charity-spheres {
  &__title {
    margin-bottom: map.get($spacing, 'md');
    @include container;
  }

  &__spheres {
    padding: map.get($spacing, 'md');
    margin-bottom: map.get($spacing, 'xl');

    display: none;

    @include container;

    @include on-tablet {
      display: block;
    }
  }

  &__swiper {
    margin-bottom: map.get($spacing, 'md');

    @include container;

    padding-right: 0;

    @include on-tablet {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }

  &__item {
    &:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1;
      border-right: 1px solid var(--btn-outline-border-active-color);
    }

    &:nth-child(2) {
      grid-column: 3 / span 2;
      grid-row: 1;
    }

    &:nth-child(n + 3) {
      grid-column: auto;
      grid-row: 2;
      border-top: 1px solid var(--btn-outline-border-active-color);
      border-right: 1px solid var(--btn-outline-border-active-color);
    }

    &:last-child {
      border-right: none;
    }
  }

  &__btn-wrapper {
    @include container;
  }
}
