@use 'sass:map';
@use '../../../../scss/vars' as *;
@use '../../../../scss/mixins' as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;

  @include on-desktop {
    gap: 195px;
  }

  position: relative;
  height: 820px;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw;

    @include on-desktop {
      border-bottom-left-radius: $base-radius;
      width: 50vw;
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/header.webp');
  }

  &__section {
    position: relative;
    width: 100%;
    z-index: 2;
    padding-bottom: map.get($spacing, 'md');

    @include on-desktop {
      padding-bottom: 0;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      flex-direction: column;
      gap: map.get($spacing, 'sm');
      align-items: flex-start;

      @include on-desktop {
        gap: 0;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__subsection {
    &:first-child {
      display: flex;
      flex-direction: column;
      gap: map.get($spacing, 'sm');
      max-width: 530px;
    }
  }
}
