@use 'sass:map';
@use '../../../../scss/vars' as *;
@use '../../../../scss/mixins' as *;

.army {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'xl');

  &__section {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
  }

  &__img {
    width: 100%;
  }

  @include on-tablet {
    &__section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: map.get($spacing, 'lg');
    }

    &__img {
      &__first {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      &--second {
        grid-column: 2 / 3;
        grid-row: 1;
      }

      &--third {
        grid-column: 3 / 4;
        grid-row: 1;
      }
    }

    &__text {
      &--first {
        grid-column: 1 / -1;
        grid-row: 2;
        max-width: 650px;
      }

      &--second {
        grid-column: 1 / -1;
        grid-row: 3;
        max-width: 650px;
      }

      &--third {
        grid-column: 1 / -1;
        grid-row: 4;
        max-width: 650px;
      }
    }
  }
}
