@use 'sass:map';
@use '../../scss/vars' as *;
@use '../../scss/mixins' as *;

.policy {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  gap: $section-gap-mobile;

  @include on-tablet {
    gap: $section-gap;
  }

  &__title {
    font-size: 40px;
    word-break: break-all;
    text-align: center;

    @include on-tablet {
      font-size: map.get(map.get($typography, 'h1'), 'font-size-desktop');
      text-align: start;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xl');

    &:last-child {
      display: flex;
      justify-content: space-between;
      gap: map.get($spacing, 'md');

      @include on-tablet {
        flex-direction: row;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xl');

    @include on-tablet {
      max-width: 650px;
    }
  }

  &__btn-wrapper {
    margin-top: auto;
  }
}
