@use 'sass:map';
@use '../../scss/vars' as *;
@use '../../scss/mixins' as *;

.policy {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, '4xl');
  margin-top: 150px;

  &__title {
    font-size: 36px;
    word-break: break-all;

    @media (min-width: 500px) {
      font-size: 48px;
      word-break: keep-all;
    }

    @media (min-width: 680px) {
      font-size: 68px;
    }

    @include on-desktop {
      font-size: 128px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xl');

    &:last-child {
      display: flex;
      justify-content: space-between;
      gap: map.get($spacing, 'md');

      @include on-tablet {
        flex-direction: row;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xl');

    @include on-tablet {
      max-width: 650px;
    }
  }

  &__btn-wrapper {
    margin-top: auto;

    button {
      text-transform: uppercase;
    }
  }
}
