@use 'sass:map';
@use '../../scss/vars' as *;
@use '../../scss/mixins' as *;
@use '../../scss/typography' as *;

@mixin glass-effect {
  background-color: #00000073;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.nav {
  transition:
    background-color $base-transition ease,
    -webkit-backdrop-filter $base-transition ease,
    backdrop-filter $base-transition ease;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  padding-block: map.get($spacing, 'md');

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition:
    opacity $base-transition ease,
    transform $base-transition ease;

  @include container;

  &__section {
    display: flex;
    align-items: center;
    gap: map.get($spacing, 'sm');

    &:nth-child(2) {
      position: absolute;
      top: 100%;
      display: none;
      flex-direction: column;

      @include on-desktop {
        position: static;
        display: flex;
        flex-direction: row;
      }
    }

    &:nth-child(3) {
      @include on-desktop {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    color: var(--nav-text-color);

    @include on-desktop {
      gap: map.get($spacing, 'sm');
      flex-direction: row;
    }
  }

  &__item {
    padding: map.get($spacing, 'xs') map.get($spacing, 'sm');
    padding-left: 0;

    &:last-child {
      @include on-desktop {
        transition: border-color $base-transition ease;
        border-right: 1px solid var(--bg-color);
      }
    }

    @include on-desktop {
      padding-left: map.get($spacing, 'sm');
    }
  }

  &__link {
    transition: color $base-transition ease;
    @include secondary-text;
  }

  &__btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 20px;

    span {
      width: 100%;
      height: 1.5px;
      background-color: var(--nav-text-color);
      transition: transform $base-transition ease;
    }
  }

  &--collapsed {
    @include glass-effect;

    .nav__btn {
      span {
        position: absolute;
        top: 50%;

        &:nth-child(1) {
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    .nav__section:nth-child(2) {
      width: 100%;
      left: 0;

      display: flex;
      align-items: flex-start;

      @include glass-effect;
      @include container;

      padding-bottom: map.get($spacing, 'xl');
    }

    .nav__link {
      color: var(--nav-text-color);
    }

    .nav__item {
      border-color: var(--nav-text-color);
    }

    button {
      color: var(--nav-text-color);
      border-color: var(--nav-text-color);
    }
  }

  &--hidden-on-scroll {
    @include glass-effect;

    .nav__link {
      color: var(--nav-text-color);
    }

    .nav__item {
      border-color: var(--nav-text-color);
    }

    button {
      color: var(--nav-text-color);
      border-color: var(--nav-text-color);
    }

    // opacity: 0;
    // transform: translateY(-10px);

    // &:hover {
    //   opacity: 1;
    //   transform: translateY(0);
    // }
  }

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }
}
