@use 'sass:map';
@use '../../scss/vars' as *;
@use '../../scss/mixins' as *;
@use '../../scss/typography' as *;

.nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  padding-block: map.get($spacing, 'md');

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition:
    opacity $base-transition ease,
    transform $base-transition ease;

  @include container;

  &--hidden-on-scroll {
    opacity: 0;
    transform: translateY(-10px);

    &:hover {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }

  &__section {
    display: flex;
    align-items: center;
    gap: map.get($spacing, 'sm');

    &:nth-child(2) {
      position: absolute;
      top: 100%;
      display: none;
      flex-direction: column;

      @include on-desktop {
        position: static;
        display: flex;
        flex-direction: row;
      }
    }

    &:nth-child(3) {
      @include on-desktop {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    color: var(--nav-text-color);

    @include on-desktop {
      gap: map.get($spacing, 'sm');
      flex-direction: row;
    }
  }

  &__item {
    padding: map.get($spacing, 'xs') map.get($spacing, 'sm');
    padding-left: 0;

    &:last-child {
      @include on-desktop {
        border-right: 1px solid var(--nav-text-color);
      }
    }

    @include on-desktop {
      padding-left: map.get($spacing, 'sm');
    }
  }

  &__link {
    @include secondary-text;
  }

  &__btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 20px;

    span {
      width: 100%;
      height: 1.5px;
      background-color: var(--nav-text-color);
      transition: transform $base-transition ease;
    }
  }

  &--collapsed {
    .nav__btn {
      span {
        position: absolute;
        top: 50%;

        &:nth-child(1) {
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    .nav__section:nth-child(2) {
      display: flex;
    }
  }
}
