@use 'sass:map';
@use '../../../../scss/vars' as *;
@use '../../../../scss/mixins' as *;

.war {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'xl');

  &__section {
    @include container;

    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');

    &:nth-child(2) {
      .war__text-content {
        display: flex;
        align-items: flex-start;
        gap: map.get($spacing, '2xl');

        @include on-tablet {
          p {
            max-width: calc(50% - map.get($spacing, 'md'));
          }
        }
      }

      @include on-tablet {
        img {
          margin-left: auto;
          width: 50%;
        }
      }
    }

    &:nth-child(3),
    &:nth-child(5) {
      & > *:not([class*='war__swiper']) {
        padding-right: $section-padding-mobile;

        @include on-tablet {
          padding-right: 0;
        }
      }

      padding-right: 0;

      @include on-tablet {
        padding-right: $section-padding;

        p {
          max-width: 650px;
        }
      }
    }

    &:nth-child(4) {
      @include on-tablet {
        flex-direction: row;
        justify-content: space-between;

        p {
          max-width: 500px;
        }
      }
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
  }

  &__quotes {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
    padding: map.get($spacing, 'sm');
    font-family: $secondary-font;

    border-radius: $base-radius;
    color: var(--bg-color);
    background-color: var(--text-color);

    @include on-tablet {
      padding: 0;
      max-width: 740px;
      border-radius: $base-radius;
      color: var(--text-color);
      background-color: var(--bg-color);
    }

    h2 {
      font-size: 20px;

      @include on-tablet {
        font-size: map.get(map.get($typography, 'h2'), 'font-size-desktop');
      }
    }
  }

  &__btn {
    text-align: end;
  }
}
