@font-face {
  font-family: 'SFPro';
  src: url('/fonts/SFPro.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mak';
  src: url('/fonts/MAK-bold.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
