@use 'sass:map';

$max-container-width: 1300px;
$base-transition: 300ms;
$base-font: SFPro, sans-serif;
$secondary-font: Mak, sans-serif;

$colors: (
  'midnight': #030317,
  'cosmos': #090920,
  'deep-indigo': #202041,
  'slate': #5f5f7d,
  'lavender-gray': #9494a8,
  'pale-lilac': #bfbfd7,
  'ghost-lavender': #d8d8f1,
  'moonstone': #e9e9ff,
);

$spacing: (
  '2xs': 4px,
  'xs': 10px,
  'sm': 16px,
  'md': 24px,
  'lg': 32px,
  'xl': 40px,
  '2xl': 48px,
  '3xl': 64px,
  '4xl': 80px,
);

$section-gap: map.get($spacing, '4xl');

$typography: (
  'h1': (
    'font-weight': 300,
    'font-size-mobile': 68px,
    'font-size-desktop': 128px,
    'line-height-mobile': 110%,
    'line-height-desktop': 110%,
    'letter-spacing': -1%,
  ),
  'h2': (
    'font-weight': 500,
    'font-size-mobile': 40px,
    'font-size-desktop': 40px,
    'line-height-mobile': 110%,
    'line-height-desktop': 110%,
    'letter-spacing': -1%,
  ),
  'h3': (
    'font-weight-mobile': 600,
    'font-weight-desktop': 600,
    'font-size-mobile': 32px,
    'font-size-desktop': 32px,
    'line-height-mobile': 120%,
    'line-height-desktop': 120%,
    'letter-spacing': -1%,
  ),
  'h4': (
    'font-weight': 600,
    'font-size-mobile': 24px,
    'font-size-desktop': 24px,
    'line-height-mobile': 120%,
    'line-height-desktop': 120%,
    'letter-spacing': -1%,
  ),
  'p': (
    'font-weight': 400,
    'font-size-mobile': 20px,
    'font-size-desktop': 20px,
    'line-height-mobile': 140%,
    'line-height-desktop': 140%,
    'letter-spacing': 0%,
  ),
  'button-text': (
    'font-weight': 400,
    'font-size': 18px,
    'line-height': 110%,
    'letter-spacing': 0%,
  ),
  'body': (
    'font-weight': 400,
    'font-size': 20px,
    'line-height': 140%,
    'letter-spacing': 0%,
  ),
);

$breakpoints: (
  'tablet': 920px,
  'desktop': 1260px,
);
