@use 'sass:map';
@use './resets';
@use './fonts';
@use './theme';
@use './typography';
@use './vars' as *;
@use './mixins' as *;

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

section {
  @include container;
}
